.contact_main{
    text-align: center;
    font-family: cursive;
    margin-top: 30px;
    margin-bottom: 40px;
}
.contact_info{
    margin-left: 30px;
    height: 50vh;
}
.contact_info h4{
    margin-bottom: 10px;
}